[Unit]
Description=Start Rust at Sunrise bot
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/jon/rust-at-sunrise
TimeoutStartSec=300
User=jon
ExecStart=cargo run
SyslogIdentifier=sunrise
EnvironmentFile=/etc/default/sunrise
StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
